In [5]:
import joblib
import pandas as pd
import numpy as np
from filereader import vib_read_raw,extract_index_dict
import glob,os
import json
import math

tools = glob.glob("./filted_basic_info/*")
tools

['./filted_basic_info\\T01.csv',
 './filted_basic_info\\T02.csv',
 './filted_basic_info\\T03.csv',
 './filted_basic_info\\T04.csv',
 './filted_basic_info\\T05.csv',
 './filted_basic_info\\T06.csv',
 './filted_basic_info\\T07.csv',
 './filted_basic_info\\T08.csv',
 './filted_basic_info\\T09.csv',
 './filted_basic_info\\T10.csv',
 './filted_basic_info\\T11.csv']

In [6]:
with open("summary/cutter_properties.json") as f:
    ret = json.load(f)

In [7]:
ret

{'T04': {'speed': '6000', 'feed': '2000', 'AP': '0.3', 'total': 333},
 'T05': {'speed': '6000', 'feed': '2000', 'AP': '0.4', 'total': 75},
 'T06': {'speed': '6000', 'feed': '2000', 'AP': '0.5', 'total': 160},
 'T02': {'speed': '6000', 'feed': '2000', 'AP': '0.1', 'total': 9297},
 'T01': {'speed': '6000', 'feed': '2000', 'AP': '0.3', 'total': 287},
 'T07': {'speed': '6000', 'feed': '2000', 'AP': '0.3', 'total': 388},
 'T08': {'speed': '6000', 'feed': '2000', 'AP': '0.2', 'total': 2280},
 'T09': {'speed': '6000', 'feed': '2000', 'AP': '0.6', 'total': 172},
 'T10': {'speed': '6000', 'feed': '2000', 'AP': '0.7', 'total': 73},
 'T11': {'speed': '6000', 'feed': '2000', 'AP': '1.0', 'total': 9},
 'T03': {'speed': '6000', 'feed': '2000', 'AP': '0.2', 'total': 989}}

In [8]:

for tool in tools:
    print(tool)
    name = os.path.basename(tool)
    name = name.split(".")[0]
#     if name != "T03":
#         continue
    df = pd.read_csv(tool,index_col=0)
    l = df.shape[0]
    df = df.reset_index(drop=True)
    ratio = [math.ceil(l*i) for i in [0.25,0.5,0.75,1]]
    ret[name].update({"valid":l,"mean-0":round(df.iloc[(df.index>=2)&(df.index <12)]["mean"].mean(),2)})
    
    for i,r in enumerate(ratio):
        ret[name].update({f"mean-{0.25*(i+1)}":round(df.iloc[(df.index>=r-10)&(df.index <r)]["mean"].mean(),2)})
        
    ret[name].update({"last":df["mean"].iloc[-1]})

./filted_basic_info\T01.csv
./filted_basic_info\T02.csv
./filted_basic_info\T03.csv
./filted_basic_info\T04.csv
./filted_basic_info\T05.csv
./filted_basic_info\T06.csv
./filted_basic_info\T07.csv
./filted_basic_info\T08.csv
./filted_basic_info\T09.csv
./filted_basic_info\T10.csv
./filted_basic_info\T11.csv

In [9]:
df["mean"].iloc[-1]

681.15

In [10]:
df = df.reset_index(drop=True)
df

,index,length,min,max,var,mean,sum,trims,paths,mean10
0,1,47,295.0,338.0,74.94,323.13,13401,"(0.12, 0.92)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0
1,2,46,294.0,364.0,183.98,355.59,14609,"(0.1, 0.9)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0
2,3,46,315.0,365.0,110.04,358.22,14730,"(0.12, 0.9)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0
3,4,47,283.0,367.0,223.71,356.83,14985,"(0.09, 0.91)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0
4,5,46,319.0,365.0,99.84,358.98,14765,"(0.12, 0.91)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0
5,6,53,119.0,1306.0,179337.67,681.15,34087,"(0.08, 0.81)",C:\repo2021\xyrepo\data\20201231\T11\T11_load_...,0

In [11]:
# sorted(ret.items(),key=lambda item:float(item[1]["AP"]))

In [12]:
data = pd.DataFrame(ret).T

In [18]:
data.sort_values(by=["AP"],inplace=True)

In [20]:
data.to_csv("summary/total_info.csv")

In [15]:
data.describe()

,speed,feed,AP,total,valid,mean-0,mean-0.25,mean-0.5,mean-0.75,mean-1.0,last
count,11,11,11,11,11,11.00,11.00,11.00,11.00,11.00,11.00
unique,1,1,8,11,11,11.00,11.00,11.00,11.00,11.00,11.00
top,6000,2000,0.3,287,857,143.13,222.65,345.65,159.31,738.09,554.67
freq,11,11,3,1,1,1.00,1.00,1.00,1.00,1.00,1.00